.cabezeratele{
    margin-left: 70px;
   margin-bottom: 1px;
   margin-top: 15px;
}

.cabezeratele h5{
    float: right;
    margin-right: 81%;
}
@media screen and (max-width:500px){
    .botontel {
       margin-left: 5px;
        height: 40px;
    }
}
@media screen and (max-width:500px){
    .titulotel {
       margin-left: 5px;
        justify-content:left;
        display: contents;
        font-size: small;
    }
}
@media screen and (max-width:500px){
    .cabezeratele{
        margin-left:0px ;
        display: flex;
        
    }
}
@media screen and (max-width:500px){
    .btnexportartel {
       
        display: none;
    }
}


.btnexportartel .expotel{
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}


@media screen and (max-width:500px){
.hometel{
    display: none;
}
}

.tablatel{
    margin-left: 10px;
}

@media screen and (max-width:500px){
    .tablatel{
        display:table-footer-group
    }
}
@media screen and (max-width:500px){
    .compotel{
        display: none;
    }
}





/* .cantidad{
    margin: 10px;
}
.inputtelefono {
   display: flex;
   flex-wrap: wrap;
    width: 300px;
    height: 30px;
}
.mb-1{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}
.creartelefono{
   display: flex;
   flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.formtelefono{
    width: 100%;
    display: flex;
    flex-wrap: wrap
}
.btnguardartel{
    margin: 10px;
} */

/* .tel{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10px;
}
.btnguardartel{
    margin: 5px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.recargas{
    margin-left: 10px;
}

.categoria{
    margin-left: 5px;
    
}

.inputtelefono {
    
     height: 30px;
 }

.acciones1{
    display: none  ;
}

 @media screen and (max-width:500px) {
    .acciones1 {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .transporte {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
    }
} */