 *{
   
    margin:0;
    padding:0;
    text-decoration: none;
} 
/* .container{
    background-color: rgb(240, 10, 10);
    margin-left: 0px;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px; 
}
main{
    width: 100%;
    padding: 20px;
} */



.sidebar{
    background: rgb(9, 9, 9);
    color: #fff;
    height: 100vh;
    width: 200px; 
    
    
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}








/* body{
    background-color: aliceblue;
}

@media screen and (max-width:500px) {
.menu2{
    width: 200px;
}
}

@media screen and (min-width:500px) {
    .tarjetas{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   }
}

@media screen and (max-width:500px) {
     .tarjetas{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    }
} */


/* .iconhome{
    margin-left: 8px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

@media screen and (min-width:500px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}



.card1{
    border-top: 50px;
    margin: 20px;
    margin-bottom: 10px;  
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

@media (min-width:499px){
    .acciones{
         flex-wrap: wrap;
         display: flex;
         justify-content: center;
         grid-column: 1;
}
}

.acciones{
    
    margin: 50px;
    border-top: 70px;
    display: block;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.descripcion{
    padding-left: 60px;
}



.card-title{
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
    padding-top: 5px;
    font-size: 30px;
}

.card-body{
    width: 300px;
}

.icono{
    margin-right: 20px;
    text-align: center;
}

 .card-tex {
    font-size: 20px;
    text-align: left;
} */