.cabezerafres{
    margin-left: 70px;
   margin-bottom: 1px;
   margin-top: 15px;
}

.titulofres{
    float: right;
    margin-right: 82.5%;
}

.btnexportarfres{
    float: right;
    margin-right: 40px;
}

.expofres{
    margin-left: 10px;
}

@media screen and (max-width:500px) {
    .cabezerafres{
        margin-left: 10px;
        margin-top: 0px;
    }
}
@media screen and (max-width:500px) {
    .btnfres{
        height: 30px;
    }
}
@media screen and (max-width:500px) {
    .homefres
    {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .titulofres
    {
        display: contents;
        font-size: small;
        float: right;
        margin-left: 5px;
    }
}
@media screen and (max-width:500px) {
    .campofres
    {
        
        display: none;
    }
}

@media screen and (max-width:500px) {
    .tablafres
    {
        
        display: table-footer-group;
    }
}

@media screen and (max-width:500px) {
    .btnexportarfres
    {
        
        display: none;
    }
}
/* .fres{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10px;
    margin: 10px;
}

.btnlistofrescos{
    margin-left: 10px;
    margin-bottom: 15px;
}
.titulo {
    margin-left: 10px;
}
.categoriafrescos{
    
    margin-top: 10px;
    
}
.cantidadfrescos{
    margin-top: 5px;
    width: 200px;
    height: 30px;
    
}
 .titulo {
    margin: 10px;
}

.cantidadfrescos{
    margin-left: 10px;
    width: 200px;
    height: 30px;
    
}
.categoriafrescos{
    
    margin: 10px;
    
}

.calendariofrescos{
    width: 100px;
    margin-left: 10px;
}

.btnlistofrescos{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
} 

.tabla{
    width: 100%;
    height: 100%;
    
    
    
}

@media screen and (max-width:500px) {
    .tablafrescos {
        display: flex;
        flex-wrap: wrap;
       
    }
}

@media screen and (max-width:500px) {
    .tabla {
        display: flex;
        flex-wrap: wrap;
       
    }
}

@media screen and (max-width:500px) {
    .accionesfrescos {
        display: flex;
        flex-wrap: wrap;
       
    }
}

@media screen and (max-width:500px) {
    .btnguardarfrescos {
        display: flex;
        flex-wrap: wrap;
       height: 30px;
       width: 30px;
    }
} */