.cabezeralogistica{
    margin-left: 70px;
   margin-bottom: 1px;
   margin-top: 15px;
}

.cabezeralogistica h5{
    float: right;
    margin-right: 82%;
}
@media screen and (max-width:500px) {
    .cabezeralogistica {
        margin-left: 0px;
        display: flex;
    }
}
@media screen and (max-width:500px) {
    .cabezeralogistica .btn {
        margin-left: 10px;
        height: 30px;
        
    }
}
@media screen and (max-width:500px) {
    .cabezeralogistica .titulolog{
        display: contents;
        font-size: medium;
        
    }
}

.btnexportarlog{
    margin-left: 90%;
}

.btnexportarlog .expo{
    margin-left: 5px;
}
@media screen and (max-width:500px) {
    .btnexportarlog {
        display: none;
        
        
    }
}
.accioneslog{
    text-align: center;
}

@media screen and (max-width:500px) {
    .homelog {
        display: none;
        
    }
}

@media screen and (max-width:500px) {
    .campolog{
        display: none;
        
    }
}

@media screen and (max-width:500px) {
    .tablalog{
        display:table-footer-group
        
    }
}

.campologistica{
    width: 100px;
}









/* .titulologistica{
    padding: 10px;
}
.categorialogistica {
    width: 100px;
    margin: 10px;
}
.categoria {
    width: 10px;
    margin: 10px;

}

.cantidadlogistica{
    margin-left: 10px;
    width: 200px;
    height: 30px;
}

.calendariologistica{
    width: 100px;
    margin-left: 10px;
}

.crearlogistica{
    padding: auto;
}

.btnlistologistica{
    margin: 10px;
}

.texto1{
    height: 10px;
    margin:50px;
}

.cantidad{
    margin-left: 5px;
    margin-top: 1px;
    margin: 1px;
}
.cantidad2{
    height: 20px;
    
}

.categoria{
    margin-bottom: 8px;
}
.cuerpo{
    height: 399px;
}

.fecha{
    margin-top: 1px;
}

.boton{
    height: 30px;
    width: 70px;
    text-align: center;
}

.boton1{
    width: 50px;
    text-align: left;
    
}

.barrainferior{
    height: 60px;
} */