.cabezeraseco{
    margin-left: 70px;
   margin-bottom: 1px;
   margin-top: 15px;
}

.cabezeraseco h5{
    float: right;
    margin-right: 83%;
}
@media screen and (max-width:500px){
    .cabezeraseco{
        margin-left:0px ;
        display: flex;
        
    }
}

@media screen and (max-width:500px){
    .tituloseco{
        display: contents;
        font-size: medium;
        
    }
}
@media screen and (max-width:500px){
    .botonse{
        height: 30px;
        
    }
}
.btnexportarse .expose{
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    
}


.accionesse{
    text-align: center;
}

@media screen and (max-width:500px){
    .homeseco{
        display: none;
    }
    }

@media screen and (max-width:500px){
    .btnexportarse{
        display: none;
    }
}


@media screen and (max-width:500px){
    .campose{
        display: none;
    }
}

@media screen and (max-width:500px){
    .tablase{
        display:inline-table
    }
}

.camposec{
    width: 100px;
}









/* .transporte{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.containertabla{
    height: 100%;
    
}
.secos{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10px;
}


.titulosecos{
    padding: 10px;
}

.categoriasecos{
    margin-top: 10px;
}


.cantidadsecos{
    margin-top: 5px;
    
}

.cantidad{
    height: 10px;
    
}


.btnlistoseco{
    margin: 10px;
}

.conteinertablasecos{
    width: 100%;
    margin-left: 70px;
    margin-right: 15px;
    flex-wrap:wrap ;
    
}

.tablasecos{
    width: 100%;
}

.accionessecos{
    text-align: center;
    width: 100%;
    margin-right: 25px;
    height: 5px;
}

.accionessecos2{
text-align: center;
    width: 100%;
    margin-right: 25px;
    height: 5px;
} */