.secos{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10px;
}


.titulosecos{
    padding: 10px;
}

.categoriasecos{
    margin-top: 10px;
}


.cantidadsecos{
    margin-top: 5px;
    
}

.cantidad{
    height: 10px;
    
}


.btnlistoseco{
    margin: 10px;
}

.conteinertablasecos{
    width: 100%;
    margin-left: 70px;
    margin-right: 15px;
    flex-wrap:wrap ;
    
}

.tablasecos{
    width: 100%;
}

.accionessecos{
    text-align: center;
    width: 100%;
    margin-right: 25px;
    height: 5px;
}

.accionessecos2{
text-align: center;
    width: 100%;
    margin-right: 25px;
    height: 5px;
}