.texto1{
    height: 10px;
    margin:50px;
}

.cantidad{
    margin-left: 5px;
    margin-top: 1px;
    margin: 1px;
}
.cantidad2{
    height: 20px;
    
}

.categoria{
    margin-bottom: 8px;
}
.cuerpo{
    height: 399px;
}

.fecha{
    margin-top: 1px;
}

.boton{
    height: 30px;
    width: 70px;
    text-align: center;
}

.boton1{
    width: 50px;
    text-align: left;
    
}

.barrainferior{
    height: 60px;
}