.transporte{    
    display: flex;
    flex-wrap: wrap;
}

.containertabla{
    width: 100%;
    margin-left: 70px;
    margin-right: 15px;
}
.acciones{
    text-align: center;
    width: 100%;
    margin-right: 25px;
    height: 5px;
}

.acciones2{
    text-align: center;
    width: 100%;
    margin-right: 25px;
    height: 5px;
}

.tabla{
    width: 100%;
    
}

.table-primary .tr{
   margin: 50px;
}
.cabezeratransporte{
    margin-left: 70px;
   margin-bottom: 1px;
   margin-top: 15px;
}
@media screen and (max-width:500px) {
    .btnexportar {
        display: flex;
       
    }
}
.btnexportar{
    
    
    margin-top: 15px;
    
}

.btnexportar .expo{
  margin-right: 5px;
  width: 40px;
  height: 40px;
  
}

.cabezeratransporte h5{
    float: right;
    margin-left: 10px;
}

.botonesacciones .btn {
    margin-bottom:12px ;
    margin-left: 5px;
    margin: 0px;
}
.btnacciones {
    margin: 0px;
    height: 5px;
}
.botonesacciones i{
   margin-top: 0px;
   margin-bottom: 0px;
    margin: 0px;
    margin-left: 1px;
    
}





.primercampo .codigo{
    height: 30px;
    width: 230px;
}


/* formulario para crear */

.crearprueba{
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
}
.segundocampo h5 {
    margin-top: 10px;
    font-size: 15px;
   
}

.segundocampo hr{
    margin-top: 1px;
}



.segundoinput{
    height: 30px;
    display: block;
    display: grid;
    grid-template-columns: 180px 180px 180px;
}

.segundoinput .calendario{
    height: 40px;
    width: 170px;
    margin-top: 5px ;
}

@media screen and (max-width:500px) {
    .segundoinput{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
   }
}
.tercercampo h5{
    font-size: 15px;
}

.tercercampo hr{
    margin-top: 1px;
}

.tercerinput{
    height: 30px;
    display: block;
    display: grid;
   grid-template-columns: 180px 180px;
}

.tercerinput .calendario{
    height: 40px;
    width: 170px;
    
}

.tercerinput h5{
    font-size: 15px;

}
@media screen and (max-width:500px) {
    .tercercampo h5{
        margin-top:75px ;
    }
}

@media screen and (max-width:500px) {
    .tercerinput .calendario{
       display: grid;
       
       grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
   }
}

/* ver prueba */


    @media screen and (min-width:500px) {
        .verprueba{
           display: grid;
           
           grid-template-columns: 280px 280px;
       }
    }

/* edit prueba */

.editprueba{
    grid-template-columns: 180px 180px;
}

@media screen and (min-width:500px) {
    .editprueba{
       display: grid;
       
       grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
   }
}