.combustible{
    
    
}

.titulocombus{
    float: right;
    margin-right:78% ;
}
@media screen and (max-width:500px) {
.titulocombus{
    float: right;
  margin-left: 0px;
  display: contents;
    font-size: small;
}  
}

.agregarcombus{
   

    display: block;
    margin-left: 60px;
}

@media screen and (max-width:500px) {
    .agregarcombus{
        margin: 5px;
        
    }
}

@media screen and (max-width:500px) {
    .homecombus{
        display: none;
    }
}

@media screen and (max-width:500px){
    .row{
        margin-left: 0px;
    }   
}



.row{
   width: 99%; 
    
}

.col{
    margin-left: 60px;
}
@media screen and (max-width:500px){
    .camposcombu{
        display: none;

    }   
}
@media screen and (max-width:500px){
    .botonac{
        margin: 2px;
        width: 30px;
        text-align: center;
    }   
}

/* formulario*/
.modalheder{
    height: 30px;
}
.form-control{
    height: 30px;
} 
.categoriacom{
    margin-top: 15px;
}

.accionescombu{
    text-align: center;
}
/* @media screen and (max-width:500px) {
.expo{
    margin-left: 5px;
}
} */












/* .combus{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        margin-left: 10px;
        margin: 10px;
}
@media screen and (max-width:500px) {
    .categoriacom {
        display: flex;
       flex-wrap: wrap;
       width: 100px; 
    }
}

@media screen and (max-width:500px) {
.tablacombu{
    display: none;
}
}

@media screen and (max-width:500px) {
    .homecombus{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .tabla{
        display: flex;
        flex-wrap: wrap;
        margin-right: 50px;
        
    }
}


.titulocom{
    margin-left: 10px;
    margin-top: 0px;
}

.categoriacom{
    margin-left: 5px;
    margin-bottom: 10px;
}

.categoriapago{
    margin-top: 10px;
    height: 45px;
}
 .transporte{    
    display: flex;
    flex-wrap: wrap;
}

.containertabla{
    width: 100%;
    margin-left: 70px;
    margin-right: 15px;
}
.acciones{
    text-align: center;
    width: 100%;
    margin-right: 25px;}

.acciones2{
    text-align: center;
    margin-top: 1px;
}

.tabla{
    width: 100%;
   
}


@media screen and (max-width:500px) {
    .btnexportar {
        display: flex;
       
    }
}
.btnexportar{
    
    margin-left: 900px;
    margin-top: 15px;
    
}

.btnexportar .expo{
  margin-right: 5px;
  width: 40px;
  height: 40px;
  
}



.botonesacciones .btn {
    margin-bottom:12px ;
    margin-left: 5px;
    margin: 0px;
}
.btnacciones {
    margin: 0px;
    height: 5px;
}

.botonac{
    height: 30px;
    width: 40px;
    margin-top: 1px;
    margin-bottom: 0px;
}

.form-control{
    height: 30px;
} 

.modalheder{
    height: 40px;
}

.modalcombus{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:500px) {
    .modal-content{
        display: flex;
        
    }
}

.modal-dialog{
    display: flex;
    
}
@media screen and (max-width:500px) {
.form-group{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
 }
}

@media screen and (max-width:500px) {
.modal-footer{
    margin-right: 90px;
}
}
.categoriacom{
    width: 10px;
    
}
.primercampo .codigo{
    height: 30px;
    width: 230px;
}



.crearprueba{
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
}
.segundocampo h5 {
    margin-top: 10px;
    font-size: 15px;
   
}

.segundocampo hr{
    margin-top: 1px;
}



.segundoinput{
    height: 30px;
    display: block;
    display: grid;
    grid-template-columns: 180px 180px 180px;
}

.segundoinput .calendario{
    height: 40px;
    width: 170px;
    margin-top: 5px ;
}

@media screen and (max-width:500px) {
    .segundoinput{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
   }
} */
